#footer-container{
  width: 100%;
  margin-top: 2em;
  .column-3{
    width: 24.5%;
    display: inline-block;
    @media (max-width: 560px) {
      width: 49.5%;
    }
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-start: 0;
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
        text-align: center;
        flex-grow: 1;
        padding: .5em;
        width: 100%;
        transition: all .3s;
      }
      li:hover{
        box-shadow: 0 0 .5em .1em;
        transform: scale(0.9) translate(0, -0.1em);
      }
    }
  }
}
