<div id='cssShapes-container'>
  <div class='artboard-title'>
    <h3>CSS Cube - Animated</h3>
  </div>
  <div id='cube_rotate_clockwise' class='cube'>
    <div class='cube_face cube_front'></div>
    <div class='cube_face cube_back'></div>
    <div class='cube_face cube_left'></div>
    <div class='cube_face cube_right'></div>
    <div class='cube_face cube_top'></div>
    <div class='cube_face cube_bottom'></div>
  </div>
  <div id='cube_rotate_counter-clockwise' class='cube'>
    <div class='cube_face cube_front'></div>
    <div class='cube_face cube_back'></div>
    <div class='cube_face cube_left'></div>
    <div class='cube_face cube_right'></div>
    <div class='cube_face cube_top'></div>
    <div class='cube_face cube_bottom'></div>
  </div>
  <div id='cube_bounce' class='cube'>
    <div class='cube_face cube_front'></div>
    <div class='cube_face cube_back'></div>
    <div class='cube_face cube_left'></div>
    <div class='cube_face cube_right'></div>
    <div class='cube_face cube_top'></div>
    <div class='cube_face cube_bottom'></div>
  </div>
  <div class='artboard-description'>
    <p>Build out a three dimensional object with css, and use the animation property to move it</p>
  </div>
</div>
