<div id='cssSpinners-container'>
  <div class='artboard-title'>
    <h3>CSS Spinners - Animated</h3>
  </div>
  <div id='loading_spin_center' class='spinner circle'>
    <div id='child1'>Loading</div>
  </div>
  <div id='loading_spin_orbit' class='spinner circle'>
    <div id='child2'></div>
  </div>
  <div id='loading_bouncing'>
    <div class='child_bounce'></div>
    <div class='child_bounce'></div>
    <div class='child_bounce'></div>
  </div>
  <div id='loading_movement'>
    <div id='child_container'>
      <div class='child_move'></div>
      <div class='child_move'></div>
      <div class='child_move'></div>
    </div>
  </div>
  <div class='artboard-description'>
    <p>Loading animations built with CSS and HTML. Just having some fun with the css animation property</p>
  </div>
</div>
